<!DOCTYPE html>
<html>
<head>
<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
</style>
</head>
<body>

<table id="customers">
  <tr>
    <th>Route</th>
    <th>Method</th>
    <th></th>
  </tr>
    <tr>
        <td>Add</td>
        <td>Post</td>
        <td><a style="text-decoration: none; color: black;" target="_blank" href="add">For Add New Upi Data & Pack</a></td>
    </tr>
    <tr>
      <td>Upi</td>
      <td>Get</td>
      <td><a style="text-decoration: none; color: black;" target="_blank" href="upi">For Get data</a></td>
  </tr>
  <tr>
    <td>login</td>
    <td>Post</td>
    <td><a style="text-decoration: none; color: black;" target="_blank" href="login">For login</a></td>
  </tr>
  <tr>
    <td>transaction</td>
    <td>post</td>
    <td><a style="text-decoration: none; color: black;" target="_blank" href="transaction">For Transaction</a></td>
  </tr>
  <tr>
</table>


</body>
</html>
<!DOCTYPE html>
